@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap');

* {
    font-family: poppins;
}

h2 {
    color: #0359c7;
    font-size: 32px;
}

.header {
    display: flex;
    background-color: #0359c7;

    height: 180px;
}

.nav-link {}

.logo {
    text-align: center;

}


a {
    text-decoration: none;
    color: black;
}

.header ul li {
    float: left;

    padding: 5px;

    text-transform: uppercase;
    font-size: x-large;


}

.contact-container {
    display: flex;
    margin: 20px 0;



}

.contact {
    margin-right: 100px;
}

ul li {
    list-style-type: none;



}

.header ul li a {
    color: #fff;
}

.flex-box {
    margin-left: 50px;
    margin-top: 50px;
    height: 150px;
    width: 350px;
    background-color: rgb(12, 153, 106);
}

.flex-header {

    width: 330px;
}

.img {
    width: 350px;
    height: 200px;

}

#more {
    display: none;
}

.footer {
    background-color: #fff;
    color: black;
    border-top: 1px solid #0359c7;
    width: 100%px;
    padding: 10px 0;
    margin-top: 60px;
}

pre {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.footer-link-sec {
    display: flex;
    justify-content: space-evenly;

}

.footer-link ul {
    padding-inline-start: 0;
}

.bolywood-news-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.b-news-box img {
    width: 100%;

}

.b-news-box {
    width: 20%;
    height: fit-content;
    box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    -webkit-box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    padding: 10px;

}

.banner img {
    width: 100%;
}

.trans-image {
    position: relative;
    width: 100%;
    height: 700px;
}

.trans-image .content {
    position: absolute;
    bottom: 0;
    left: 10%;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}

.banner-image-fade {
    position: absolute;
    opacity: 0.7;
    height: 700px;
    width: 100%;
    background-color: black;
}

.banner .content h2 {
    font-size: 50px;
    color: #fff;
    font-weight: bold;
}

.banner .content p {
    font-size: 25px;
}

.banner .content .get-start-button a {
    background-color: #0359c7;
    color: white;
    border-radius: 5px;
    padding: 10px 20px;
}

#job {

    border: 3px solid blue;
    width: 100%;
}

#job td {
    border: 1px solid black;
    padding: 5px;
}

#job th {
    border: 1px solid black;
    padding: 5px;
    justify-content: space-around;

}

@media (max-width:500px) {


    body {
        background-color: lightgrey;
    }

    .contact-container {
        flex-direction: column;
    }

    .bolywood-news-container {

        justify-content: center;


    }

    .b-news-box {
        width: 80%;
        margin-top: 30px;
    }

    .nav-link {
        text-align: center;
    }

    .header ul li {

        text-align: center;
        font-size: 20px
    }

    .header ul {
        display: ;

    }
}

.header .logo {
    text-align: center;
}

.header {
    flex-direction: column;
    padding-top: 20px;
}

.banner .content h2 {
    font-size: 30px;


}

.banner .content p {
    font-size: 20px;

}

.trans-image .content {
    left: 0;
    bottom: 50px;

}

.trans-image,
.trans-image img,
.banner-image-fade {
    height: 500px;

}


.get-start-button a {
    font-size: 16px;
}










.Bolywood-News {
    margin-top: 60px;



}

.link ul li {
    text-align: start;
    list-style-type: none;
}

.link h3 {
    color: black;

}

.contact img {}

.contact ul li {
    margin-top: 10px;
}

.header ul li img {
    box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    -webkit-box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);


}

.e-news-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.e-news-box {
    width: 20%;
    height: fit-content;
    box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    -webkit-box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    -moz-box-shadow: 0px 2px 14px 4px rgba(10, 10, 10, 0.75);
    padding: 10px;

}


.e-news-box img {
    width: 100%;
}

nav {
    width: 100%;
    background-color: red;
    color: black;
}

.read-more-button {
    color: black;
}